*{
  max-width: 100%;
  font-family: "Winky Sans", sans-serif;
  font-style: normal;
}
body{
  background-color: rgb(250, 249, 245);
  padding: 10px;
  font-size: 30px;
  text-align: center;
}
img {
  width: 368px;
  height: 326px;
  border: 10px none black;
  display: block;
  margin: auto;
  border-radius: 20px;
}
a{
  text-decoration: none;
  color: black;
}
header{
  display: inline;
}
ul{
  list-style-type: none;
  list-style-position: inside;
}
nav{
  display: flex;
  justify-content: space-evenly;
  background-color: beige;
}
#about{
  padding: 2px;
}
#jack{
  text-align: right;
}